#selectise-wrapper {
  margin: 8px;
  border-radius: 8px;
  margin: 8px;
  box-shadow: 0px 3px 4px #00000052;
}
#selectise-wrapper > .selectise-input {
  border: 1px solid #222222;
  border-radius: 6px 6px 0px 0px;
  line-height: 3em;
  padding: 2px 8px;
  width: 100%;
}
#selectise-wrapper > .selectise-options {
  border: 1px solid #222222;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  line-height: 3em;
  padding: 2px 8px;
  display: block;
  border-top: 0px;
}

#selectise-wrapper > .selectise-options:focus {
  outline: none;
}
#selectise-wrapper > .selectise-input:focus {
  outline: none;
}

#details {
  background: red;
  height: 100px;
  width: 100px;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
